<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-insert></app-insert>

<a routerLink="/show-page">show-page</a>
<span> | </span>
<a routerLink="/show-per_page">show-per_page</a>
<span> | </span>
<a routerLink="/show-total">show-total</a>
<span> | </span>
<a routerLink="/show-total-pages">show-total-pages</a>
<span> | </span>
<a routerLink="/show-data">show-data</a>
<router-outlet></router-outlet>