<h2 class="my_name" *ngIf="service.my_name">wellcome back: <strong>{{service.my_name.name}}</strong></h2>
<hr>

<button (click)="get_customer()">show customer info</button>
<div *ngIf="instance.customer">
  <br>
  firstName: {{instance.customer.firstName}} <br>
  lastName: {{instance.customer.lastName}} <br>
  phoneNumber: {{instance.customer.phoneNumber}} <br>
  email: {{instance.customer.email}} <br>

</div>
<button (click)="get_user()">show user info</button>

<div *ngIf="instance.user">
  <br>
  user name: {{instance.user.userName}} <br>
  password: {{instance.user.password}} <br>

</div>

<button (click)="get_amount()">get amount</button>
<div *ngIf="instance.amount">

  <br>
  The amount is: {{instance.amount}} <br>

</div>

<button (click)="get_customer_purchase()">get all purchases</button>
<div *ngIf="instance.purchases">

  <div *ngFor="let purchase of instance.purchases">
    <br>
    coupon id: {{purchase.couponId}}
    <br>
    amount: {{purchase.amount}}
    <br>
    date: {{purchase.date}}
    <br>
    <button (click)="delete_purchase_by_id(purchase.id)">delete purchase</button>
  </div>


</div>


<button (click)="get_customer_coupons_by_customer_id()">get all coupons</button>
<div *ngIf="instance.coupon">

  <div *ngFor="let coupon of instance.coupon">
    <br>
    company id: {{coupon.companyId}}
    <br>
    category: {{coupon.category}}
    <br>
    title: {{coupon.title}}
    <br>
    description: {{coupon.description}}
    <br>
    amount: {{coupon.amount}}
    <br>
    price: {{coupon.price}}
    <br>
    image: {{coupon.image}}

  </div>

</div>
<div>

  <br>
  <select [(ngModel)]="category">

    <option value="Food">Food</option>
    <option value="Electricity">Electricity</option>
    <option value="Restaurant">Restaurant</option>
    <option value="Vacation">Vacation</option>
    <option value="Science">Science</option>
    <option value="Comics">Comics</option>
    <option value="Paintball">Paintball</option>

  </select>
  <button (click)="get_customer_coupons_by_category()">choose by category</button>
  <div *ngIf="instance.category">

    <div *ngFor="let coupon of instance.category">
      <br>
      company id: {{coupon.companyId}}
      <br>
      category: {{coupon.category}}
      <br>
      title: {{coupon.title}}
      <br>
      description: {{coupon.description}}
      <br>
      amount: {{coupon.amount}}
      <br>
      price: {{coupon.price}}
      <br>
      image: {{coupon.image}}

    </div>

  </div>

  <div>
    <br>
    <input type="number" [(ngModel)]="max_price">
    <button (click)="get_customer_coupons_by_max_price()">get all coupons by max price</button>
    <div *ngIf="instance.max_price">

      <div *ngFor="let coupon of instance.max_price">
        <br>
        company id: {{coupon.companyId}}
        <br>
        category: {{coupon.category}}
        <br>
        title: {{coupon.title}}
        <br>
        description: {{coupon.description}}
        <br>
        amount: {{coupon.amount}}
        <br>
        price: {{coupon.price}}
        <br>
        image: {{coupon.image}}

      </div>

    </div>

  </div>

  <div>

    <button (click)="get_all_coupon()">show all coupons</button>

    <div *ngIf="instance.all_coupons">

      <div *ngFor="let coupon of instance.all_coupons">

        <br>
        coupon id: {{coupon.id}}
        <br>
        company id: {{coupon.companyId}}
        <br>
        category: {{coupon.category}}
        <br>
        title: {{coupon.title}}
        <br>
        description: {{coupon.description}}
        <br>
        amount: {{coupon.amount}}
        <br>
        price: {{coupon.price}}
        <br>
        image: {{coupon.image}}

        <br>
        amount: <input type="number" [(ngModel)]="amount">
        <br>
        <button (click)="purchase_coupon(coupon.id)">purchse coupon</button>

      </div>

    </div>

    <div>
      <input type="number" [(ngModel)]="one_coupon">
      <button (click)="get_coupon()">show coupon by id</button>

      <div *ngIf="instance.one_coupon">



        <br>
        coupon id: {{instance.one_coupon.id}}
        <br>
        company id: {{instance.one_coupon.companyId}}
        <br>
        category: {{instance.one_coupon.category}}
        <br>
        title: {{instance.one_coupon.title}}
        <br>
        description: {{instance.one_coupon.description}}
        <br>
        amount: {{instance.one_coupon.amount}}
        <br>
        price: {{instance.one_coupon.price}}
        <br>
        image: {{instance.one_coupon.image}}



      </div>

    </div>

    <button (click)="delete_customer()">delete your account</button>

    <div>
      <h4>choose coupon id to delete</h4>
      <br>
      <input type="number" [(ngModel)]="coupon_id_purchase"> coupon id
      <br>
      <button (click)="delete_purchase()">delete</button>

    </div>

    <div>

      <button (click)="update_customer_switch()">update your customer</button>

      <div *ngIf="update_on">

        <h4>plz fill all </h4>
        <input type="text" [(ngModel)]="user_name"> user name
        <br>
        <input type="password" [(ngModel)]="password"> password
        <br>
        <input type="text" [(ngModel)]="first_name"> first name
        <br>
        <input type="text" [(ngModel)]="last_name"> last name
        <br>
        <input type="text" [(ngModel)]="phone_number"> phone number
        <br>
        <input type="email" [(ngModel)]="email"> email
        <br>
        <button (click)="update_customer()">update your customer</button>
      </div>

    </div>