.myName {
  text-align: center;
  background-color: cadetblue;
}

.angle {
  color: grey;
  background: oldlace;
  border-radius: 50px;
}

.center {
  text-align: center;
}

.delete {
  background: red;
}

.image {
  width: 220px;
  height: 130px;
}

/* css */

button {
  position: relative;
  margin: 20px;
  width: 150px;
  height: 50px;
  border-radius: 45px;
  background: #019DFF;
  box-shadow: inset 6px 6px 12px rgba(255, 255, 255, 0.6), inset -6px -6px 12px rgba(0, 0, 0, 0.6);
  border: none;
  border-bottom: 1px solid white;
}

button::-moz-focus-inner {
  border: 0;
}

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-image-source: radial-gradient(ellipse closest-side, rgba(0, 255, 255, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  border-image-slice: 49% fill;
  border-image-width: 60px 45px 30px 45px;
  border-width: 1;
}

button:after {
  content: attr(data-label);
  position: absolute;
  top: 6px;
  left: 18px;
  right: 18px;
  height: 20px;
  border-radius: 36px 36px 0 0 / 24px 24px 0 0;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
  text-align: center;
  color: white;
  text-shadow: 3px 3px 6px black;
  font-size: 60px;
}

button:hover {
  background: #02AAFF;
}

button:hover:before {
  border-image-source: radial-gradient(ellipse closest-side, rgba(50, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

button:active {
  background: #0066AA;
}

button:active:before {
  border-image-source: radial-gradient(ellipse closest-side, rgba(20, 200, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

button:focus {
  outline: none;
  border-image-source: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 255, 0.33) 75%, cyan 80%, white 85%, cyan 90%, rgba(0, 0, 255, 0.33) 95%, rgba(0, 0, 0, 0));
  border-image-slice: 49%;
  border-image-width: 60px;
  border-image-outset: 18px;
  border-width: 0;
  border-bottom-width: 1px;
}

/* hr */

.accessory {
  height: 6px;
  background-image: radial-gradient(closest-side, gray, rgba(128, 128, 128, 0) 100%);
  position: relative;
}

.accessory:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: #bfbfbf;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 4px 0;
  border: 4px solid rgba(255, 255, 255, 0.35);
  background-clip: padding-box;
  box-shadow: -10px 10px 0 rgba(255, 255, 255, 0.15), 10px -10px 0 rgba(255, 255, 255, 0.15);
}