<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<hr>
<!-- <app-ana1></app-ana1>
<hr>
<app-movie-list></app-movie-list>
<hr>
<app-people></app-people>
<hr>
<app-try1></app-try1>
<hr>
<app-try2></app-try2>
<hr>
<app-try3></app-try3>
<hr>
<app-try4></app-try4>
<hr>
<app-try5></app-try5>
<hr>
<app-try6></app-try6>
<hr>
<app-try7></app-try7>
<hr>
<app-try8></app-try8>
<hr>
<app-try9></app-try9>
<hr>
<app-try10></app-try10>
<app-try11></app-try11>
<hr>
<app-try13></app-try13>
<app-try12></app-try12>
<hr>
<app-try15></app-try15>
<app-try14></app-try14>
<hr>
<app-try16></app-try16>
<hr>
<app-try17></app-try17>
<hr>
<app-try18></app-try18>
<app-try19></app-try19>
<hr>
<app-try20></app-try20>
<app-try21></app-try21>
<hr> -->
<app-try22></app-try22>
<app-try23></app-try23>
<hr>